@using ChairShopping.Data;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{

	<form  asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<button  style="color:cornflowerblue; border:0px;background-color:white" type="submit" >Logout</button>
	</form>

}
else
{
	<a id="login" asp-action="Login" asp-controller="Account">Login</a>
}
